---
import Meta from "../components/Meta.astro";
import Footer from "../components/Footer.astro";

const samples = [
  { href: "samples/moire/index.html", name: "moire" },
  { href: "samples/mosaic/index.html", name: "mosaic" },
  { href: "samples/rosecurve/index.html", name: "rosecurve" },
];

const tests = [
  { href: "tests/circ/index.html", name: "circ" },
  { href: "tests/circf/index.html", name: "circf" },
  { href: "tests/line/index.html", name: "line" },
  { href: "tests/rect/index.html", name: "rect" },
  { href: "tests/rectf/index.html", name: "rectf" },
];
---

<html lang="en" data-bs-theme="dark">
  <head>
    <Meta />
  </head>

  <body class="container" id="top">
    <main>
      <h1 class="display-2"><b>pti 👋</b></h1>
      <div class="highlight"></div>

      <p class="lead">
        A *tiny* framework for making small games with chunky pixels.
      </p>

      <!-- samples -->
      <section>
        <h2>Samples</h2>
        <div class="row row-cols-1 row-cols-sm-4 g-4">
          {
            samples.map(({ href, name }) => (
              <div class="col">
                <div class="card h-100">
                  <a href={href}>
                    <img
                      src={`/c99-engine/images/${name}.png`}
                      class="card-img-top"
                      alt={name}
                      width={128}
                      height={128}
                    />
                  </a>
                  <div class="card-footer">
                    <small class="text-body-secondary">{name}</small>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </section>

      <!-- tests -->
      <section>
        <h2>Tests</h2>
        <div class="row row-cols-1 row-cols-sm-4 g-4">
          {
            tests.map(({ href, name }) => (
              <div class="col">
                <div class="card h-100">
                  <a href={href}>
                    <img
                      src={`/c99-engine/images/256x256.png`}
                      class="card-img-top"
                      alt={name}
                      width={128}
                      height={128}
                    />
                  </a>
                  <div class="card-footer">
                    <small class="text-body-secondary">{name}</small>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>

<style>
  .card {
    width: 128px;
    height: 128px;
  }

  .card-img-top {
    object-fit: contain;
  }
</style>
